<div class="country-cards">
    <div class="country-find">
        <input type="text">
    </div>
    <div class="country-find-result">
       <h2 class="country-name">Имя: {{name}}</h2>
       <div class="country-info">
           <p class="country-capital">Capital: {{capital}}</p>
           <p class="country-popolation">Population: {{population}}</p>
           <p class="country-languages">Languages:</p>
           <ul class="languages-list">
                {{#each languages}}
                <li class="tag-list__item">{{this}}</li>
                {{/each}}
           </ul>
       </div>
       <div class="country-flag">
           <img src="{{flag}}" alt="{{name}}">
       </div>
    </div>
</div>